.header {
    background: linear-gradient(90.09deg, #9E0B37 0.98%, #FFC531 72.22%, #9E0B37 99.95%);
    background-size: 300% 300%;
    animation: gradientAnimation 5s infinite alternate;
    position: relative;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}

.header__col {
    display: flex;
}

.header__menu-list {
    display: flex;
    align-items: center;
    gap: 72px;

}

.header__menu-link {
    font-size: 14px;
    color: #fff;
}

.header__menu-item:first-child {
    position: relative;
}
.header__menu-item:first-child::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.header__buttons {
    display: flex;
    gap: 42px;
}

.burger {
    position: fixed;
    z-index: 11;
    top: 25px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

.burger__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}

.burger__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.burger__menu-link {
    color: #000;
}

.burger > span {
    position: relative;
    display: block;
    background-color: #fff;
    width: 30px;
    height: 3px;
    border-radius: 10px;
}

.burger > span:nth-child(2) {
    margin-top: 8px;
    margin-bottom: 8px;
}

.open {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 720px) {
    .header__col:first-child {
        display: none;
    }

    .burger {
        opacity: 1;
        visibility: visible;
    }
}
